body {
  font-family: 'Roboto', sans-serif;
  background-color: #EBEBEB;
}

#top-level {
  text-align: center;
}

#main-app-div {
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin-right: 20vw;
  margin-left: 20vw;
  
}

#grid {
  border: 1.5px solid #363636;
  width: 425px;
  margin-top: 75px;
}

.row {
  display: flex;

}

.box {
  width: 25px;
  height: 25px;
  border: 1.5px solid #a4a4a4;
  background-color: white;
}

#colour-wheel-div {
  margin-top: 155px;
  justify-content: center;
  align-items: center;
}